body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, Inter, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: rgb(228, 228, 248);
} 

.app-container {
  height: 100vh;
  /* background-color: linear-gradient(141deg, rgb(18, 9, 95) 0%, rgba(10,101,222,1) 100%); */
  background-color:  rgb(10, 6, 43);
  overflow: scroll;
  position: relative;
}

.public-key {
  position: absolute;
  top: .5rem;
  left: .5rem;
  color: rgb(228, 228, 248) !important;
  /* border: 1px solid rgb(59, 59, 121);
  border-radius: 1.3rem;
  background-color: rgb(12, 12, 41);
  padding: .2rem .9rem; */
  padding-left: 1rem;
}


.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.subtitle {
  color: rgb(180, 180, 242);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.title {
  color: rgba(45,213,255,1);
  margin-top: 25%;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.metrics-container {
  margin-top: 5%;
  margin-bottom: 2rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(59, 59, 121);
  border-radius: 1.3rem;
  background-color: rgb(12, 12, 41);
}


.metric {
  padding: 1rem;
  margin: 0.25rem 0.25rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgb(59, 59, 121);
  border-radius: 1rem;
  background-color: rgb(16, 16, 52);
}

.top-chunk {
  display: flex;
  flex-direction: row;
}

.connect-wallet-button {
  background: linear-gradient(90deg, rgba(96,198,87,1) 0%, rgba(53,174,226,1) 100%);
  padding: .8rem 2.4rem;
  animation: gradient-animation 4s ease infinite;
  border: 0px;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  font-weight: 540;
  box-shadow: 10px 5px 10px rgba(8, 8, 63, 0.1);
  cursor: pointer;
}

.connect-wallet-button:hover {
  background: linear-gradient(90deg, rgba(96,198,87,.9) 0%, rgba(53,174,226,.9) 100%);
  transition-delay: 1s;

}




thead{
  border-bottom: 1px solid rgb(59, 59, 121);
}

th{
  padding: 1rem;
}

tr {
  padding-bottom: 1rem;
}


@media screen and (max-width: 650px) {
  html {
    font-size: 10px;
  }
  .top-chunk {
    display: flex;
    flex-direction: column;
  }
  .metrics-container {
    border: 0px;
    margin-top: 20px;
  }
}